<div class="ui-fluid">
  <div class="p-grid">
    <div class="p-col">
      <input [(ngModel)]="cedula" type="text" pInputText />
    </div>
    <h2>cedula: {{cedula}}</h2>
    <div class="p-col">
      <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">
      </div>
    </div>
    <div class="p-col">
      <p-button icon="pi pi-check" label="Click" (click)="enviarArchivo()"></p-button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
