li{
    float: left;
    list-style: none;
    padding: 16px;
    background-color: rgb(31, 31, 31);
}

.active{
    background-color: gray;
}

li:hover{
    background-color: gray;
}

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1{
    text-align: center;
}