li{
    float: left;
    list-style: none;
    padding: 16px;
    background-color: rgb(31, 31, 31);
}

a{
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}