body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li{
    float: left;
    list-style: none;
    padding: 16px;
    background-color: rgb(31, 31, 31);
}

.active{
    background-color: gray;
}

li:hover{
    background-color: gray;
}

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 40px;
}

form{
    margin-left: 100px;
    margin-right: 500px;
    background-color: rgb(169, 189, 224);
    border-radius: 5px;
    padding: 10px;
}

label, input, h3{
    margin-left: 20px;
}

input{
    border-radius: 5px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}